/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-129307177-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129307177-1');

%body
  
.container
  %video#myVideo{:autoplay => "", :loop => "", :muted => ""}
    %source{:src => "./images/bg_pink_1.mp4", :type => "video/mp4"}
  %h1.top-left Johanna Andén
  .center-item
    %img{:alt => "Full stack web developer", :src => "./images/FS_WD.png"}/
  
#grad1.container-profile
  %img.profile{:src => "./images/johanna.JPG"}/
  .text-box
    %h2 Hello!
    %p My name is Johanna Andén, I am a student at Craft Academy where I study the course Full stack web developer.
    %br/ 
    %p When I'm not studying, I work at the TV and broadband provider Sappa in Gothenburg.
          
.container-images
  .imgbox
    %img{:src => "./images/address-book.jpg"}/
    %h2 Diwali
    %h3 With Lights
  
  .imgbox
    %img{:src => "./images/atm.jpg"}/
    %h2 Diwali
    %h3 With Lights
  
  .imgbox
    %img{:src => "./images/bmi-calculator.jpg"}/
    %h2 Diwali
    %h3 With Lights
  
.container-images
  .imgbox
    %img{:src => "./images/fizz-buzz-js.jpg"}/
    %h2 Diwali
    %h3 With Lights
  
  .imgbox
    %img{:src => "./images/fizz-buzz.jpg"}/
    %h2 Diwali
    %h3 With Lights
  
  .imgbox
    %img{:src => "./images/library.jpg"}/
    %h2 Diwali
    %h3 With Lights
  
  .imgbox
    %img{:src => "./images/webdevelop-course.jpg"}/
    %h2 Diwali
    %h3 With Lights

.container-curriculum-vitae
  %div
    %img.work-image{:src => "./images/gina_tricot.png"}/
  %div
    %img.work-image{:src => "./images/Sappa.png"}/
  %div
    %img.work-image{:src => "./images/ca.png"}/
  %div
    %img.work-image{:src => "./images/stuk.png"}/

= partial 'partials/footer'